@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .bg-black {
    background-color: #111e2e !important;
  }
  .text-black {
    color: #111e2e !important;
  }
  .hover\:bg-gray-800:hover,
  .hover\:bg-gray-850:hover,
  .hover\:bg-gray-900:hover {
    background-color: #1b60cc !important;
  }
}
